body {
    background-image: url("https://github.com/AdrianHernandez-Dev/Quiz-App/blob/master/Images/drum.jpg?raw=true");
    background-size: cover; 
}

h1 {
    margin-top: 25px;
    text-align: center;
    color: white;
    font-size: 50px;
}
.question {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

h2 {
    height: 50px;
}

.answers {
    padding: 100px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

label {
    flex-direction: column;
}
.quiz{
    height: 500px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
    font-size: 50px;
}

button {
    padding: 20px;
    margin:20px;
    width: 400px;
    font-size: 20px;
}

h2 {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.number-score {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

#question-number , #score {
    list-style-type: none;
    padding: 20px;
    padding-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}


.val {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.submit {
    margin: 0;
}

ul {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 777px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    color: white;
    font-size: 35px;
    font-weight: bolder;
}
