body {
    background-image: url("https://github.com/AdrianHernandez-Dev/Quiz-App/blob/master/Images/drum.jpg?raw=true");
    background-size: cover; 
}
label {
    display: flex;
    text-align: center;
    width: 200px;
    flex-direction: row;
    align-items: center;
}
.header {
    background-color: blue;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.end {
    font-size: 50px;
}
.question, .results {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: center;
}

.results {
    margin-top: 50px;
    height: 400px;
}

h2 {
    height: 50px;
    text-align: left;
}

.answers{
    padding: 100px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    margin-left: 40px;
}

input.answers {
    margin-right: 15px;
}

.quiz{
    height: 400px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
    font-size: 50px;
}

button {
    padding: 20px;
    margin:20px;
    width: 400px;
    font-size: 20px;
}

h2 {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.number-score {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    width: 700px;
}

#question-number , #score {
    list-style-type: none;
    padding: 20px;
    padding-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}


.val {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    width: 300px;
}

.start {
    text-align: center;
}
.submit {
    margin: 0;
    margin-bottom: 15px;
}

ul {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 777px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 25px;
}
button {
    background-color: white;
}
@media screen and (max-width: 320) { 
    img {
        display: none;
    }
    h1 {
        font-size: 20px;
    }
    .quiz, .question  {
        width: 200px;
        max-height: 360px;
    }
    button {
        width:150px;
    }
    ul {
        font-size: 15px;
    }
    #js-submit {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .val {
        margin-top: 25px;
    }
  }

  @media screen and (max-width: 680px) { 
    img {
        display: none;
    }
    .quiz, .question, .results  {
        width: 300px;
        height: 400px;
    }
    button {
        width:150px;
        padding: 0;
    }
    ul {
        font-size: 20px;
        width: 100px;
    }
    h2 {
        font-size:20px; 
    }
    #js-submit  {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .number-score {
        width: 300px;
    }

    header {
        width: 300px;
    }

    h1 {
        font-size: 20px;
        width: auto;
    }

    button {
        background-color: white;
    }

    .header {
        width: 300px;
    }
}